
body {
	background-color: #fff;
	font: 16px/24px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a:hover{
	text-decoration: none;
}

h1 {
	color: #444;
	background-color: transparent;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

.footer a{
	color: #fff;
}

.box-section {
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
	background-color: white;
}

.box-section a{
	color: #000;
	font-weight: bold;
}

.container-label {
	font-size: 2em;
	padding: 0 1em;
	margin: 1em 0;
}

.campus-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em;
}

.campus-list > div {
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.campus-list .card {
	margin: 0 0.5em;
}

.campus-list.campus-list-photo > div {
	height: auto;
	display: block;
}

.campus-list > .covered a {
	color: white;
}

.card img {
	object-fit: cover;
}

.campus-placeholder {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: gainsboro;
	color: gray;
	font-weight: bold;
	width: 100%;
	height: 120px;
}

.unwrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.campus-logo, .campus-logo-sm, .campus-logo-md, .campus-photo {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.campus-photo, .campus-photo-md {
	height: 200px;
	width: 200px;
	font-size: 10pt;
    border-radius: 100%;
    overflow: hidden;
}

.campus-logo {
	height: 150px;
	width: 150px;
	font-size: 10pt;
}

.campus-logo-sm {
	height: 32px;
	width: 32px;
}

.campus-logo-md, .campus-photo-md {
	height: 120px;
	width: 120px;
}

.campus-hero, .campus-custom-hero {
	text-align: center;
	padding: 5rem 1rem;
}
.campus-custom-hero {
	background: var(--bg) center/cover;
}
.campus-custom-hero h1, .campus-custom-hero p {
	color: white;
	text-shadow: 0 0 12px black;
}

.campus-custom-hero~div {
    transform: translateY(-3rem);
}

.campus-stat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.campus-stat > div {
	padding: 1em;
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
}

.navbar.float {
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
}

.campus-pages {
	width: calc(100% - 15px);
    top: 0;
    position: absolute;
    bottom: 0;
    overflow: auto;
}