
body {
	background-color: #fff;
	font: 16px/24px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}
a:hover{
	text-decoration: none;
}

h1 {
	color: #444;
	background-color: transparent;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

.footer a{
	color: #fff;
}

.box-section {
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}

.box-section a{
	color: #000;
	font-weight: bold;
}

.container-label {
	font-size: 2em;
	padding: 0 1em;
	margin: 1em 0;
}

.campus-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em;
}

.campus-list > div {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.campus-list > .covered::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--bg) center/cover;
	z-index: -1;
	filter: brightness(0.2);
	transition: all 0.2s;
}


.campus-list > .covered:hover::before {
	filter: brightness(0.5);
	transform: scale(1.2);
	font-weight: bold;
}

.campus-list > .covered a {
	color: white;
}

.campus-logo, .campus-logo-sm, .campus-logo-md, .campus-photo {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
	color: gainsboro;
}

.campus-photo {
	height: 200px;
	width: 150px;
	font-size: 10pt;
}

.campus-photo img {
    border-radius: 100%;
}

.campus-logo {
	height: 150px;
	width: 150px;
	font-size: 10pt;
}

.campus-logo-sm {
	height: 32px;
	width: 32px;
	font-size: 6pt;
}

.campus-logo-md {
	height: 80px;
	width: 80px;
	font-size: 6pt;
}

.campus-hero, .campus-custom-hero {
	text-align: center;
	padding: 5rem 1rem;
}
.campus-custom-hero {
	background: var(--bg) center/cover;
}
.campus-custom-hero h1, .campus-custom-hero p {
	color: white;
	text-shadow: 0 0 12px black;
}


.campus-stat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.campus-stat > div {
	padding: 1em;
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
}

.navbar {
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
}
