
body {
	background-color: #fff;
	font: 16px/24px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
}

p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

.box-section {
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}

.container-label {
	font-size: 2em;
	padding: 0 1em;
	margin: 1em 0;
}

.campus-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em;
}

.campus-list > div {
	height: 150px;
	border: 1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.campus-logo, .campus-logo-small {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	height: 150px;
	width: 150px;
	text-align: center;
	color: gainsboro;
	font-size: 10pt;
}

.campus-logo-small {
	height: 32px;
	width: 32px;
	font-size: 6pt;
}

.campus-stat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
}

.campus-stat > div {
	padding: 1em;
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	min-width: 25%;
	border-left: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
}